* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background-color: #99ddff;
}

form {
  background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%;
}

li {
  height: 80px;
}

form input {
  border: 0; padding: 10px; width: 90%; margin-right: .5%;
}

form button {
  width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;
}

#messages {
  list-style-type: none; margin: 0; padding: 0;
}

#nickname-container {
  background: #0084ff;
  padding: 20px;
  position: fixed;
  width: 300px;
  left: 37%;
  bottom: 50%;
  text-align: center;
}

#nickname-container input {
  padding: 10px;
  border: 0;
  width: 200px;
  margin-right: .5%;
}

#nickname-container button {
  width: 50px;
  padding: 10px;
}

.chat-nickname {
  padding-top: 5px;
  margin: 5px 12px;
}

.chat-message {
  width: max-content;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.chat-nickname-me {
  padding-top: 5px;
  margin: 10px 12px;
  position: fixed;
  right: 0%;
}

.chat-message-me {
    width: max-content;
  background-color: white;
  padding: 10px;
  margin: 40px 10px;
  border-radius: 5px;
  position: fixed;
  right: 0%;
}

.typing {
  font-style: italic;
  color: #808080;
  background-color: #99ddff;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50px;
  height: 10px;
}

.info {
  font-style: italic;
  color: #808080;
  text-align: center;
  background-color: #99ddff;
  width: 100%;
  padding-top: 35px;
}
